.basement
  .basement__left
    .basement__left__border
      .basement__left__border__wrapper
        .basement__left__border__wrapper__icons
          = image_tag 'mail-white', class: "basement__left__border__wrapper__icons__category_image"
          =link_to root_path, class: "basement__left__border__wrapper__icons__back" do
            = image_tag 'back-white.png', class: "basement__left__border__wrapper__icons__back__icon"
  .basement__right
    .basement__right__border
      .basement__right__border__contents
        %h3 今後のアップデート項目
        %li ・GoogleChrome以外のブラウザにも対応
        %li ・カテゴリー選別機能の強化
        %li ・バリデーション強化
        %li ・消費期限の近い食品を通知する機能を実装
        %li ・アプリ自体に音声入力機能を実装
        %li ・文体を統一
        %li ・iOSアプリへの移行