.header{
  height: $header-height;
  background-color: $body-color;
  &__upper{
    height: 200px;
    padding: 0 20px;
    &__logo{
      float: left;
      padding: 80px 250px;
    }
    &__btns{
      float: right;
      z-index: 10;
      &__user{
      }
      &__add-foods{
      }
    }
  }
  &__lower{
    border: $border-status;
    &__categories{
      height: 50px;

    }
  }
}