.header{
  height: $header-height;
  border-radius: $radius $radius 0 0;
  background-color: $body-color;
  &__upper{
    height: calc($header-height - 50px);
    padding: 0 20px;
    &__logo{
      
    }
    &__btns{
      
      
      &__user{
      }
      &__add-foods{
      }
    }
  }
  &__lower{
    border: $border-status;
    &__categories{
      height: 50px;

    }
  }
}