.foods
  - @foods.each do |food|
    .foods__food 
      .foods__food__name
        = food.name
      .foods__food__expiration_date
        = food.expiration_date
      .foods__food__quantity
        = food.quantity
      .foods__food__minus-sign
        = "ー"