.header
  .header__upper
    .header__upper__logo food manager
    .header__upper__btns
      .header__upper__btns__user
        =link_to "▼#{current_user.name}", destroy_user_session_path, method: :delete
  .header__lower
    .header__lower__category-list
      %ul
        = render 'categories'
    .header__lower__add-categories
      =link_to "+", new_category_path
