.header
  .header__upper
    .header__upper__logo logo
    .header__upper__btns
      .header__upper__btns__user ▽user
      .header__upper__btns__add-foods +
  .header__lower
    .header__lower__categories category
    //jsでcategoriesを追加していく