html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

li, ul{
  margin: 0;
  padding: 0;
  list-style: none;
  white-space:nowrap;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}